{% extends "base.html" %}

{% block title %}
    Register | Nutrition Wisdoms
{% endblock %}

{% block nav_items %}
    <a class="nav-item nav-link" href ="{{url_for('login')}}">Sign in</a>
{% endblock %}

{% block content %}
    <!-- Progression Bar -->
    <h5>Your Progress:</h5>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
    <br>

    <div class="bg-light bg-gradient border p-4">
        <!-- Current BMI of user -->
        <h1> Your current BMI: {{current_BMI}}</h1>
        <hr class="w-100 clearfix" />

        <!-- Instruction of the page -->
        <h5> Please choose your goal </h5>

        <!-- Recommendation for primary goal -->
        <p>Recommended Goal : {{ rec_primary_goal }}</p>

        <!-- primary goal form -->
        <form novalidate method="POST"> {{ form.csrf_token }}
            <div class="row form-group">
                {% for field in form.primary_goal %}
                    <div class="col">
                    {% if field.data == primary_goal_input %}
                        <td>{{ field(class="btn-check", checked="true") }}</td>
                    {% else %}
                        <td>{{ field(class="btn-check") }}</td>
                    {% endif %}
                        <td>{{ field.label(class="btn btn-outline-secondary") }}</td>
                    </div>
                {% endfor %}
            </div>
            <div class="row form-group">
                {% if form.primary_goal.errors %}
                    {% for error in form.primary_goal.errors%}
                        <small class="form-text text-danger">*{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row form-group justify-content-center">
                <div class="col-2">{{ form.submit_back(class="btn btn-primary") }}</div>     
                <div class="col-2">{{ form.submit_next(class="btn btn-primary") }}</div>
            </div>
        </form>
    </div>

    <div class="bg-light bg-gradient border border-warning" style="margin: 20px">
        <p style="padding: 10px">Please note that Nutrition Wisdoms is not a website that contains every possible personal considerations 
            and take our recommendations as suggestions but not a substitute of healthcare professionals.</p>
    </div>
{% endblock %}
